src/config/**/*
src/config/.**/.*
deps/dyn_instr/_build/**
bin/config/**/*
#{1,2,3,4,5,6,7,8,9}
**/\.*
!*.*
deps
configure
_build
_tags
*.out
*.native
myocamlbuild.ml
setup.*
*.tcs
.vscode
benchmarks/ltl-test-lin/*/*.log.1
**/*.graphml
**/*.log.1
**/__pycache__*
bin/config/org.eclipse.core.runtime/.*.1
bin/config/org.eclipse.core.runtime/.manager/*
